<ng-template #listItem let-item>
  <li class="tree-list__item">
    <div class="tree-list__text">My name`s {{item.name}} and I`m {{item.age}}</div>
    
    <ng-container *ngIf="item.children.length > 0">
      <ul *ngFor="let item of item.children">
        <ng-container *ngTemplateOutlet="listItem; context: {$implicit: item}"></ng-container>
      </ul>
    </ng-container>
  </li>
</ng-template>

<ul class="tree-list" *ngFor="let item of items">
  <ng-container *ngTemplateOutlet="listItem; context: {$implicit: item}"></ng-container>
</ul>