<!-- Сделать форму для инпута и задизейблить кнопку если searchText есть -->

<div class="tree-list__search">
  <input
    [(ngModel)]="searchText"
    class="tree-list__search-input"
    placeholder="Search..."
  />
</div>
<ul class="tree-list" *ngFor="let item of tree!.children">
  <ng-container
    *ngTemplateOutlet="listItem; context: { $implicit: item }"
  ></ng-container>
</ul>

<ng-template #listItem let-item>
  <li class="tree-list__item">
    <input 
      (change)="onCheckboxChange($event, item)"
      [checked]="item.selected"
      class="tree-list__input"
      type="checkbox"
      id="{{ item.treeItem.id }}"
    />
    <label
      search
      [searchText]="searchText"
      class="tree-list__text"
      for="{{ item.treeItem.id }}"
      >My name`s {{ item.treeItem.name | format }} and I`m
      {{ item.treeItem.age | format }}</label
    >

    <ng-container *ngIf="item.isBranch">
      <ul *ngFor="let item of item.children">
        <ng-container
          *ngTemplateOutlet="listItem; context: { $implicit: item }"
        ></ng-container>
      </ul>
    </ng-container>
  </li>
</ng-template>
