.tree-list {
  max-width: 400px;
  font-family: Georgia, serif;
  font-size: 1.1em;
}

.tree-list__item {
  list-style: none;
  margin: 2.5em 0;
}

.tree-list__text {
  display: inline-block;
  margin-left: .5em;
  padding: 1em 2em;
  list-style: none;
  color: #444444;
  border-radius: 1.8em;
  cursor: pointer;
}

.tree-list__input:checked + .tree-list__text {
  background: #fce594;
}

:host(.first-tree)::ng-deep .tree-list__text {
  background: #dad2ca;
  font-style: italic;
}

:host(.second-tree)::ng-deep .tree-list__text {
  background: #ffd12b;
  font-weight: bold;
  color: #ffffff;
}