<!-- Сделать форму для инпута и задизейблить кнопку если searchText есть -->

<app-search (searchText)="search($event)"></app-search>

<ul *ngFor="let item of tree!.children; trackBy: trackByFn" class="tree-list">
  <ng-container
    *ngTemplateOutlet="listItem; context: { $implicit: item }"
  ></ng-container>
</ul>

<ng-template #listItem let-item>
  <li class="tree-list__item">
    <input
      [checked]="item.isSelected"
      [disabled]="searchDirective.isDisabled"
      [id]="item.treeItem.id"
      [hidden]="true"
      (change)="onCheckboxChange($event, item)"
      class="tree-list__input"
      type="checkbox"
    />
    <label
      [searchText]="searchText"
      [for]="item.treeItem.id"
      #searchDirective="search"
      search
      class="tree-list__text"
      >My name`s {{ item.treeItem.name | format }} and I`m
      {{ item.treeItem.age | format }}</label
    >

    <ng-container *ngIf="item.isBranch">
      <ul *ngFor="let item of item.children">
        <ng-container
          *ngTemplateOutlet="listItem; context: { $implicit: item }"
        ></ng-container>
      </ul>
    </ng-container>
  </li>
</ng-template>
